@font-face {
   font-family: 'Maplestory Bold';
   font-display: swap;
   src: url('file:///C:/Users/newju/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-26_231124/fonts/Maplestory%20Bold/font.ttf');
}
